html,
body,
#root,
.App {
  height: 100%;
  font-size: 100%;
}

li {
  list-style: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border-collapse: collapse;
}

@font-face {
  font-family: "Ycomputer";
  src: url("/public/assets/Font/Ycomputer.ttf") format("truetype");
}
@font-face {
  font-family: "JFDotKappa200213";
  src: url("/public/assets/Font/JFDotKappa200213.ttf") format("truetype");
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
