html,
body,
#root,
.App {
  height: 100%;
  font-size: 100%;
}

li {
  list-style: none;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  border-collapse: collapse;
  color: black;
}
