.start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  > .circle {
    width: 100%;
    text-align: center;
    > .circle__img {
      width: 361px;
      height: 362px;
    }
  }

  > .bottom {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("/public/assets/Images/logoBackground.gif");
    background-position: center;
    background-size: cover;
    margin-top: -50px;
    > .startBtn {
      text-align: center;
      .startBtn__img {
        width: 342px;
        height: 100%;
      }
    }
  }
}
