.start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header,
  .footer {
    width: auto;
    height: 150px;
  }
  img {
    width: 100px;
    height: 100px;
  }
  > .top {
    width: 100%;
    height: 50%;
    > .circle {
      width: 100%;
      text-align: center;
      > .circle__img {
      }
    }
  }
  > .bottom {
    width: 100%;
    height: 50%;
    background-image: url("../../../assets/Images/logoBackground.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    > .startBtn {
      width: 100%;
      text-align: center;
      > .startBtn__img {
      }
    }
  }
}
