$warringFontColor: #00ff00;
$warringFontFamily: "Ycomputer";
$warringFontStyle: normal;
$warringFontWeight: 400;
$warringLineHeight: 46px;
@font-face {
  font-family: "Ycomputer";
  src: url("/public/assets/Font/Ycomputer.ttf") format("truetype");
}

.warring {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 35px 0px 35px;

  > .warring__title,
  .warring__content,
  .warring__btn {
    color: $warringFontColor;
    font-family: $warringFontFamily;
    font-style: $warringFontStyle;
    font-weight: $warringFontWeight;
  }

  > .warring__title {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 46px;
  }
  > .warring__content {
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 96px;
  }
  > .warring__btn {
    border: none;
    background-color: black;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-shadow: -2px 0 #888888, 0 2px #888888, 2px 0 #888888, 0 -2px #888888;
  }
}
